body {
    background-color: black;
    align-content: center;
    text-align: center;
    font-family: "Lucida Console", monospace;
}
h1 {
    color: white;
}
p{
    color: green;
}
a:link, a:visited {
    background-color: #163DDB;
    color: white;
    padding: 1em 2em;
    text-align: center;
    text-decoration: none;
    display: inline-block;
}
a:hover, a:active {
    background-color: blue;
}